@keyframes liquidWord {
    0% {
        font-variation-settings: 'MONO' 0.2, 'CASL' 1, 'wght' 350, 'slnt' -15, 'CRSV' 1;
    }

    25% {

    }

    50% {
        font-variation-settings: 'MONO' 0, 'CASL' 0.6, 'wght' 600, 'slnt' -15, 'CRSV' 1;
    }

    75% {

    }

    100% {
        font-variation-settings: 'MONO' 0.2, 'CASL' 1, 'wght' 350, 'slnt' -15, 'CRSV' 1;
    }
}

@keyframes liquidMatter {
    0% {
        border-radius: 60% 80% 50% 70% / 60% 50% 70% 80%;
    }

    25% {
        border-radius: 70% 60% 80% 50% / 80% 60% 50% 70%;
    }

    50% {
        border-radius: 50% 70% 60% 80% / 70% 80% 60% 50%;
    }

    75% {
        border-radius: 80% 50% 70% 60% / 50% 70% 80% 60%;
    }

    100% {
        border-radius: 60% 80% 50% 70% / 60% 50% 70% 80%;
    }
}

@keyframes s-tri1 {
    6% {
        transform: translate(0px);
    }
    10% {
        transform: translate(18px);
    }
    15% {
        transform: translate(0px);
    }
}

@keyframes s-mid {
    3% {
        transform: translate(0px);
    }
    6% {
        transform: translate(20px);
    }
    10% {
        transform: translate(0px);
    }
}

@keyframes s-tri2 {
    0% {
        transform: translate(0px);
    }
    3% {
        transform: translate(25px);
    }
    6% {
        transform: translate(0px);
    }
}

@keyframes o-h1 {
    10% {
        transform: translate(0px);
    }
    15% {
        transform: translate(15px);
    }
    20% {
        transform: translate(0px);
    }
}

@keyframes o-h2 {
    15% {
        transform: translate(0px);
    }
    20% {
        transform: translate(20px);
    }
    25% {
        transform: translate(0px);
    }
}

@keyframes l-b {
    20% {
        transform: translate(0px);
    }
    25% {
        transform: translate(15px);
    }
    30% {
        transform: translate(0px);
    }
}

@keyframes l-s {
    25% {
        transform: translate(0px);
    }
    30% {
        transform: translate(35px);
    }
    35% {
        transform: translate(0px);
    }
}

@keyframes i-b {
    30% {
        transform: translate(0px);
    }
    35% {
        transform: translate(30px);
    }
    40% {
        transform: translate(0px);
    }
}

@keyframes d-b {
    35% {
        transform: translate(0px);
    }
    40% {
        transform: translate(15px);
    }
    45% {
        transform: translate(0px);
    }
}

@keyframes d-h {
    40% {
        transform: translate(0px);
    }
    45% {
        transform: translate(20px);
    }
    50% {
        transform: translate(0px);
    }
}

@keyframes solidWord {
    0% {

    }

    100% {
        filter: drop-shadow(5px 5px 2px rgb(0 0 0 / 0.4));
    }
}

@keyframes gasWord {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes bubbleAni {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-100vh);
    }
}

