@keyframes liquidWord {
    0% {
        font-variation-settings: 'MONO' 0.2, 'CASL' 1, 'wght' 350, 'slnt' -15, 'CRSV' 1;
    }

    25% {

    }

    50% {
        font-variation-settings: 'MONO' 0, 'CASL' 0.6, 'wght' 600, 'slnt' -15, 'CRSV' 1;
    }

    75% {

    }

    100% {
        font-variation-settings: 'MONO' 0.2, 'CASL' 1, 'wght' 350, 'slnt' -15, 'CRSV' 1;
    }
}

@keyframes liquidMatter {
    0% {
        border-radius: 60% 80% 50% 70% / 60% 50% 70% 80%;
    }

    25% {
        border-radius: 70% 60% 80% 50% / 80% 60% 50% 70%;
    }

    50% {
        border-radius: 50% 70% 60% 80% / 70% 80% 60% 50%;
    }

    75% {
        border-radius: 80% 50% 70% 60% / 50% 70% 80% 60%;
    }

    100% {
        border-radius: 60% 80% 50% 70% / 60% 50% 70% 80%;
    }
}