@import "fonts.css";
@import "animations.css";

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.word {
    font-size: 150px;
}

.word--gas {
    font-family: 'bubbles';
    color: rgb(255, 94, 0);
    animation-name: gasWord;
}

.word--liquid {
    font-family: 'recursive';
    color: white;
    animation-name: liquidWord;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.word--solid {
    font-family: 'plaster';
    color: white;
    animation-name: solidWord;
}

.matter {
    padding: 50px 25px 50px 25px;
    box-shadow: 5px;
}

.matter--liquid {
    background: rgb(254,68,97);
    background: linear-gradient(90deg, rgba(254,68,97,1) 0%, rgba(255,129,91,1) 100%);
    animation-name: liquidMatter;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.matter--solid {
    background: rgb(254,68,97);
    background: linear-gradient(90deg, rgba(254,68,97,1) 0%, rgba(255,129,91,1) 100%);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container--btns {
    min-height: 0;
}


/* SOLID animations */
#s-tri2 {
    animation-name: s-tri2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

#s-mid {
    animation-name: s-mid;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

#s-tri1 {
    animation-name: s-tri1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

#o-h1 {
    animation-name: o-h1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

#o-h2 {
    animation-name: o-h2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

#l-b {
    animation-name: l-b;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

#l-s {
    animation-name: l-s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

#i-b {
    animation-name: i-b;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

#d-b {
    animation-name: d-b;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

#d-h {
    animation-name: d-h;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}


